@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:  sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#Hero {
  background-image: url("https://pixelbuddha.net/storage/88510/mnml-branding-stationery-mockup-0.jpg");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  cursor: none;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#root {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
